@model DataAccess.Models.Book
@{
    ViewBag.Title = "Detail";
}

<h2>Detail knihy @Model.Name</h2>

<p>
    Autor: @Model.Author
</p>
<p>
    Rok vydání: @Model.PublishedYear
</p>

<p>@Html.Raw(Model.Description)</p>