USE [master]
GO
/****** Object:  Database [Knihovna]    Script Date: 06.01.2018 1:59:15 ******/
CREATE DATABASE [Knihovna]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Knihovna', FILENAME = N'D:\Misc\MSSQL14.MSSQLSERVER\MSSQL\DATA\Knihovna.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Knihovna_log', FILENAME = N'D:\Misc\MSSQL14.MSSQLSERVER\MSSQL\DATA\Knihovna_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Knihovna].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Knihovna]
GO
USE [Knihovna]
GO
/****** Object:  User [DESKTOP-8RFQNAK\lof]    Script Date: 06.01.2018 1:59:15 ******/
CREATE USER [DESKTOP-8RFQNAK\lof] FOR LOGIN [DESKTOP-8RFQNAK\lof] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[book]    Script Date: 06.01.2018 1:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[author] [varchar](200) NOT NULL,
	[publishedYear] [int] NOT NULL,
	[description] [varchar](max) NULL,
	[imageName] [varchar](200) NULL,
	[category_id] [int] NOT NULL,
 CONSTRAINT [PK_book] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_category]    Script Date: 06.01.2018 1:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[description] [varchar](max) NOT NULL,
 CONSTRAINT [PK_book_category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[book]  WITH CHECK ADD  CONSTRAINT [FK_book_book_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[book_category] ([id])
GO
ALTER TABLE [dbo].[book] CHECK CONSTRAINT [FK_book_book_category]
GO
USE [master]
GO
