
@{
    ViewBag.Title = "NastavitInformace";
}

<h2>Úprava informací</h2>
<br/>

<div>

    <h6>Zobrazit veřejně:</h6>
    <div class="pretty p-switch p-fill">
        <input type="checkbox" />
        <div class="state">
            <label>Postoj k pracovním nabídkám</label>
        </div>
    </div>
    <br />
    <div class="pretty p-switch p-fill">
        <input type="checkbox" />
        <div class="state">
            <label>Dosažené vzdělání</label>
        </div>
    </div>
    <br />
    <div class="pretty p-switch p-fill">
        <input type="checkbox" />
        <div class="state">
            <label>Tvé koníčky</label>
        </div>
    </div>
    <br />
    <div class="pretty p-switch p-fill">
        <input type="checkbox" />
        <div class="state">
            <label>Oblíbenou literaturu</label>
        </div>
    </div>
    <br />
    <div class="pretty p-switch p-fill">
        <input type="checkbox" />
        <div class="state">
            <label>Preferovanou hudbu</label>
        </div>
    </div>
    <br />
    <div class="pretty p-switch p-fill">
        <input type="checkbox" />
        <div class="state">
            <label>Skvělé filmy</label>
        </div>
    </div>
    <br />
    <br />

    <h6>Nastavení podpisu pod textem pro návštevy:</h6>
    <div class="pretty p-switch p-fill">
        <input type="checkbox" />
        <div class="state">
            <label>Přiložit jméno a příjmení</label>
        </div>
    </div>
    <br />
    <div class="pretty p-switch p-fill">
        <input type="checkbox" />
        <div class="state">
            <label>Uvést i věk</label>
        </div>
    </div>
    <br />
    <div class="pretty p-switch p-fill">
        <input type="checkbox" />
        <div class="state">
            <label>Zobrazit počet návštěv profilu</label>
        </div>
    </div>
    <br />
    <br />

    <h6>Dodatečné nastavení:</h6>
    <div class="pretty p-switch p-fill">
        <input type="checkbox" />
        <div class="state">
            <label>Privátní profil - nikdo si tě nemůže zobrazit</label>
        </div>
    </div>
    <br />
    <div class="pretty p-switch p-fill">
        <input type="checkbox" />
        <div class="state">
            <label>Nezobrazit text pro návštěvy</label>
        </div>
    </div>
    <br />
    <div class="pretty p-switch p-fill">
        <input type="checkbox" />
        <div class="state">
            <label>Skrýt statistiky před návštěvníky</label>
        </div>
    </div>
    <br />
    <div class="pretty p-switch p-fill">
        <input type="checkbox" />
        <div class="state">
            <label>Skrýt ocenění a úspěchy</label>
        </div>
    </div>
    <br />
    <div class="pretty p-switch p-fill">
        <input type="checkbox" />
        <div class="state">
            <label>Zobrazit nápovědu při úpravě profilu</label>
        </div>
    </div>
</div>

<br/>
<small>Nastavení se aktualizuje při volbě. Okno zavřeš kliknutím mimo.</small>