@using DataAccess.Models
@using LofovaChyse.Class
@model IList<DataAccess.Models.KnihovnaNovinky>
@{
    ViewBag.Title = "Home";
}

<h2>Aktivita:</h2>

@foreach (KnihovnaNovinky b in Model)
{
    <div class="container">
        <div class="row align-items-center offset-md-0">
            <div class="order-md-1">
                <div class="p-2">
                    <img src="@Url.Content("~/Uploads/Novinky/" + NovinkyGenerator.GetImage(b))"/>
                </div>
            </div>

            <div class="col-sm-10 order-sm-1">
                <div class="p-2">
                    @Html.ActionLink(b.Text, b.Action, b.Controller, new {id = b.RefId}, new {@class = "card-text text-dark", style = "text-decoration:none;" })
                    <br/>
                    <sub class="card-text">@b.Date</sub>
                </div>
            </div>
        </div>
    </div>
}
