
@{
    ViewBag.Title = "NastavNaladu";
}

<link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" rel="stylesheet" />

<h2>Nastavení nálady</h2>
<hr />

<div class="pretty p-default p-round p-smooth p-plain">
    <input type="radio" name="radio1" />
    <div class="state p-success">
        <label><strong>Chci se zapojit do projektu</strong></label>
    </div>
</div>
<br />
<sub style="position: relative; top: -5px;">
    Kdokoli ti může napsat a nabídnout účast na (bezrozpočtovém) projektu
</sub>

<div class="pretty p-default p-round p-smooth p-plain">
    <input type="radio" name="radio1" />
    <div class="state p-primary">
        <label><strong>Pouze projekty s rozpočtem</strong></label>
    </div>
</div>
<br />
<sub style="position: relative; top: -5px;">
    Máš zájem o nabídky práce, ale pouze na placené pozice
</sub>

<div class="pretty p-default p-round p-smooth p-plain">
    <input type="radio" name="radio1" />
    <div class="state p-warning">
        <label><strong>Aktuálně mám dost práce</strong></label>
    </div>
</div>
<br />
<sub style="position: relative; top: -5px;">
    Signál pro uživatele, že by tě neměli rušit, nicméně stále dostáváš notifikace a zprávy.
</sub>

<div class="pretty p-default p-round p-smooth p-plain">
    <input type="radio" name="radio1" />
    <div class="state p-danger">
        <label><strong>Mám více práce, než bych chtěl</strong></label>
    </div>
</div>
<br />
<sub style="position: relative; top: -5px;">
    Odesilatel zprávy dostane upozornění, že se tvoje odpověď může zpozdit.
</sub>

<br/>
<small>Okno zavřeš kliknutím mimo. Tvůj výběr je aktualizován při změně.</small>